---
apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  name: agent
spec:
  databaseStorage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  filesystemStorage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  imageStorage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 100Gi
  osImages:
  # Replace <http-server-address:port> with the address of the local web server that stores the RHCOS images.
  # The images can be downloaded from "https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/".
  - cpuArchitecture: x86_64
    openshiftVersion: "4.14"
    rootFSUrl: http://192.168.18.17:9001/rhcos-4.14.34-x86_64-live-rootfs.x86_64.img
    url: http://192.168.18.17:9001/rhcos-4.14.34-x86_64-live.x86_64.iso
    version: 414.92.202310170514-0
